/* dark_grey  #616161; */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Flexo-CapsDEMO'
}

@font-face {
    font-family: 'Flexo-CapsDEMO';
    src: url('Flexo-CapsDEMO-webfont.woff2') format('woff2'),
         url('Flexo-CapsDEMO-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.pokeMain{
    /* background-color: rgb(39, 39, 39); */
    max-width: 100%;
    background-image:url("./images/dark_background.png");
    /* background-repeat:repeat; */    
    font-family: "Flexo-Demi",arial,sans-serif;
    color: grey;
}

.menu{
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-family: "flexo-regular";
    font-size: 30px;
    background-color: white;
    width: 80%;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    max-width: 80vw;
    background-image:url("./images/light_background.png");    
    background-repeat:repeat;
    padding: 20px;
}


.pokedex{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    background-color: white;
    column-gap: 20px;;
    width: 70%;

}



.pokeCard{
    /* width: 480px;
    height: 480px; */
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color:black;
    font-family: "Flexo-Demi",arial,sans-serif;
    font-size: 145%;
    padding-bottom: 50px;;
}
h5{
    color: grey;
    font-size: 12.8px;
    padding-top: 10px;
    padding-bottom: 20px;
}
h4{
    color: black;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.pokeImg{
    /* max-width: 180px; */
    width: 205px;
    
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.boton{
    font-size: 15px;
    border-radius: 1px;
    padding: 10px;    
    min-width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;  
    color: rgb(133, 118, 197);
    font-weight: 500;
  }
  .cardPie{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    gap:10px
  }
  .cardSlot{
    font-size: 13px;
    font-weight:600;
    background-color: rgb(109, 226, 109);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    width: 35%;
    text-align: center;    
  }
  .planta{
    background-color: rgb(109, 226, 109);    
  }
  .fuego{
    background-color: rgb(218, 148, 50);    
  }

  .foot{
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-family: "flexo-regular";
    font-size: 30px;
    background-color: white;
    width: 80%;
}

